@model Mercadona.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Mercadona";
}

<section>

    <div class="d-flex justify-content-between">
        <h1 class="display-4">Catalogue</h1>
        <button id="filter" type="button" class="btn">Filtrer</button>
    </div>

    <div class="filter-case d-none d-flex mt-4">
        <h4 class="cat-title">Catégorie</h4>

        <select id="categorySelect" class="form-select" aria-label=" select">
            <option value="cat-all" selected>Toutes les catégories</option>
            @foreach (var category in Model.Categories)
            {
                <option value="cat-@category.Id">@category.Name</option>
            }
        </select>
    </div>
    

    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            @foreach (var product in Model.Products) {
                
                <div class="product col cat-@product.CategoryId">
                    <div class="card h-100 shadow-sm">

                        <div class="gp-img">
                            <img src="@product.Picture" class="card-img-top">
                            <span class="gp-cat-prod">@product.Category.Name</span>
                        </div>

                        <div class="card-body d-flex flex-column justify-content-between mt-0">

                            <div>
                                <h5>@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                            </div>

                            <div class="price mt-4 mb-3 d-flex flex-column align-items-end">
                                @if (Model.NewPrices.ContainsKey(product.Id))
                                {
                                    <span class="price text-decoration-line-through fst-italic">@product.Price €</span>
                                    <span class="fw-bold text-danger fs-5">  @Model.NewPrices[product.Id] €</span>
                                }
                                else
                                {
                                    <span class="price fs-5">@product.Price €</span>
                                }
                            </div>
                           
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>
